.boardadd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 24px;
  transform-origin: center;
  min-width: 343px;
  width: clamp(343px, 480px, 480px);
  border: none;
  border-radius: 6px;
  padding: 24px;
  margin-inline: 16px;
  background-color: var(--background-primary);
  overflow: visible;

  * { overflow: visible; }

  .boardadd__dialog--title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: var(--fs-Heading-L);
    font-weight: var(--fw-Heading-L);
    line-height: var(--fl-Heading-L);
    color: var(--text-primary);
  }

  .boardadd__title, .boardadd__description, 
  .boardadd__subtasks, .boardadd__status, .boardadd__create {
    width: 100%;
  }

  .boardadd__subtasks {
    display: flex;
    flex-direction: column;
    
    .boardadd__items {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 12px;
    }
  }

  .boardadd__create {
    display: flex;
    flex-direction: column;
  }

  .boardadd__btn-add, .boardadd__btn-create {
    height: 40px;
  }

  .boardadd__-title {
    font-size:   var(--fs-Heading-S);
    font-weight: var(--fw-Heading-S);
    line-height: var(--fl-Heading-S);
    color: var(--text-terciary);
    padding-bottom: 8px;
    line-height: 1;
  }

  .boardadd__-text {
    display: flex;
    flex-direction: row;
    line-height: 0;
    
    > textarea {
      width: 100%;
      appearance: none;
      border: 1px solid color-mix(in oklab, var(--text-secondary) 25%, transparent);
      border-radius: 4px;
      padding: 8px 16px 9px 16px;
      resize: none;
      font-family: inherit;
      overflow: hidden;
      background-color: transparent;
      font-size:   var(--fs-Body-L);
      font-weight: var(--fw-Body-L);
      line-height: var(--fl-Body-L);
      color: var(--text-primary);
      field-sizing: content;
      max-height: 127px;
      overflow-y: auto;
    }

    .boardadd__delete {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 16px;

      &:hover {
        scale: 105%;
        cursor: pointer;
      }

      &:active {
        scale: 95%;
      }
    }
  }

  .boardadd__status {

    .boardadd__current-status--items {
  
      .boardadd__current-status-select {
  
        .boardadd__current-status-select__control {
          height: 40px;
          background-color: transparent;
          border-color: color-mix(in oklab, var(--text-secondary) 25%, transparent 100%);
  
          &.boardadd__current-status-select__control--is-focused {
            border-color: var(--button-primary);
          }
        }
  
        .boardadd__current-status-select__single-value {
          color: var(--text-primary);
          font-size: var(--fs-Body-L);
          padding-left: 5px;
        }
  
        .boardadd__current-status-select__menu {
          background-color: var(--background-secondary);
        }
  
        .boardadd__current-status-select__option {
          color: var(--text-primary);
          background-color: var(--background-secondary);
          font-size: var(--fs-Body-L);
          padding-left: 16px;
  
          &.boardadd__current-status-select__option--is-focused {
            background-color: var(--background-primary);
          }
  
          &.boardadd__current-status-select__option--is-selected {
            background-color: var(--button-primary);
            color: var(--text-button-primary);
          }
        }
  
        .boardadd__current-status-select__indicator-separator {
          width: 0;
        }
  
        .boardadd__current-status-select__indicator {
          color: var(--button-primary);
        }
      }
    }
  }
}
  
  @media (width > 375px) {
    .boardadd {
      padding: 32px;
    }
  }