.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: 100dvw;
  height: 64px;
  background-color: var(--background-primary);
  overflow: visible;
  z-index: 1;

  * { overflow: visible; }

  .header-logo {
    display: flex;
    align-items: center;
    height: 100%;

    .logo-header-mobile { padding-inline: 16px; }
  }

  .title-set {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100%;

    .board-name {
      display: flex;
      align-items: center;

      > .title {
        font-size:   var(--fs-Heading-XL);
        font-weight: var(--fw-Heading-XL);
        color: var(--text-primary);
        transform-origin: left;

        .letter {
          overflow: visible;
          display: inline-block;
        }
      }

      & > .toggle-menu {
        padding-left:   8px;
        padding-bottom: 6px;
        border: none;
        background-color: transparent;

        &:hover { cursor: pointer; }
      }
    }

    .nav {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 15px;

      .add {
        width:  48px;
        height: 32px;
        
        & p { display: none; } 
      }

      .ellipsis {
        padding-inline: 4px;
        margin-inline: 12px;
        border: none;
        background-color: transparent;

        & img { height: 16px; }
        
        &:hover { 
          cursor: pointer; 
        }
      }
      
      .ellipsis-menu {
        position: absolute;
        top:   90px;
        right: 24px;
        width: 192px;
        border-radius: 8px;
        background-color: var(--background-secondary);
        transform-origin: right top;
        
        .ellipsis-menu__option {
          padding:  17px;
          font-size: var(--fs-Body-L);
          line-height: 1;
          
          &.edit {
            color: var(--text-secondary);
          }

          &.delete {
            color: var(--Destructive);
          }

          &:hover {
            transform-origin: left;
            text-shadow: 1px 1px 3px var(--button-primary);
            scale: 110%;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (width > 375px) {
  .header {
    height: 81px;

    .header-logo {
      .logo-header-mobile { display: none; }

      .logo-header-desktop {
        opacity: 1;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        padding-left: 24px;
        border-right:  1px solid var(--Lines);
        border-bottom: 1px solid var(--Lines);
        color: var(--background-primary);

        & img {
          width: 153px;
          object-fit: contain;
        }
      }
    }

    .title-set {
        border-bottom: 1px solid var(--Lines);

        .board-name {

          > .title {
            padding-left: 24px;
          }

        > .toggle-menu {
          opacity: 0;
          display: none;
        }
      }

      .nav {
        .add {
          width: 164px;
          height: 48px;

          & img {
            opacity: 0;
            display: none;
          }

          & p {
            display: block;
          }
        }

        .ellipsis {
          padding-inline: 4px;
          margin-inline:  20px;
          & img { height: 20px; }
        }
      }
    }
  }
}

@media (width > 768px) {
  .header {
    height: 96px;
  }
}