.task {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-2);
  padding-block:  23px;
  padding-inline: 16px;
  background-color: var(--background-primary);
  border-radius: 8px;
  transition: scale 0.2s ease-in-out;
  
  .task-title {
    flex-shrink: 0;
    font-size:   var(--fs-Heading-M);
    font-weight: var(--fw-Heading-M);
    color:       var(--text-primary);
    margin-bottom: 7px;
  }

  > .subtasks {
    flex-shrink: 0;
    font-size: var(--fs-Body-M);
    font-weight: var(--fw-Body-M);
    color: var(--text-secondary);
  }

  &:hover {
    scale: 104%;
    cursor: pointer;
  }

  &:active {
    scale: 98%;
  }
}