/*
  CSS Styles for Toggle Control with Framer Motion Library
  Framer Motion Version: 11.0.8
*/

.switch {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width:  40px;
  height: 20px;
  padding: 0.2em;
  background-color: var(--check-background);
  border-radius: 1em;
  height: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-primary);
  }

  .handle {
    font-size: 0.5em;
    width:  1.8em;
    height: 1.8em;
    background-color: var(--check-button);
    color: white;
    border-radius: 1em;
  }

  &[data-toggled="true"] {
    justify-content: flex-end;
  }

  &[data-disabled="true"] {
    background-color: #777;
    pointer-events: none;
    cursor: not-allowed;
  }
}
