* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;
}

ul, li {
  list-style: none;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Typography */

  /* Font Sizes in PX */
  --fs-Heading-XL: 24px;
  --fs-Heading-L:  18px;
  --fs-Heading-M:  15px;
  --fs-Heading-S:  12px;
  --fs-Body-L:     13px;
  --fs-Body-M:     12px;

  /* Font Weights in weight units */
  --fw-Heading-XL: bold;
  --fw-Heading-L:  bold;
  --fw-Heading-M:  bold;
  --fw-Heading-S:  bold;
  --fw-Body-L:     normal;
  --fw-Body-M:     bold;

  /* Font line heights in PX */
  --fl-Heading-XL: 30px;
  --fl-Heading-L:  23px;
  --fl-Heading-M:  18px;
  --fl-Heading-S:  15px;
  --fl-Body-L:     23px;
  --fl-Body-M:     15px;

  /* Font Kerning in PX */
  --fk-Heading-S:  2.4px;

  /* Font Sizes for Buttons */
  --fs-button-L:   var(--fs-Heading-M);
  --fs-button-S:   13px;

  /* Colors */
  color-scheme: light dark;

  /* Color styles */
  --Medium-Grey:        hsla(216, 15.2%, 57.5%, 1);
  --Dark-Grey:          hsla(235, 12.2%, 19.2%, 1);
  --Very-Dark-Grey:     hsla(235, 15.8%, 14.9%, 1);
  --Black:              hsla(237, 100%, 3.5%, 1);
  --Lines-Light:        hsla(221, 68.7%, 93.7%, 1);
  --Lines-Dark:         hsla(236, 11.4%, 27.5%, 1);
  --Light-Grey-Light-bg:hsla(220, 69.2%, 97.5%, 1);
  --White:              hsla(0, 0%, 100%, 1);
  --Main-Purple:        hsla(242, 48.1%, 57.6%, 1);
  --Main-Purple-Hover:  hsla(243, 100%, 82.2%, 1);
  --Destructive:        hsla(0, 78%, 62.5%, 1);
  --Destructive-Hover:  hsla(0, 100%, 79.8%, 1);

  /* Shadows */ 
  --shadow-1:           rgba(54, 78, 126, 0.25) 0px 10px 20px 0px;
  --shadow-2:           rgba(54, 78, 126, 0.25) 0px  4px  6px 0px;
  --linear-1:           linear-gradient(hsla(199, 12%, 19%, 100%), hsla(235, 12%, 19%, 50%));
  --linear-2:           linear-gradient(hsla(219, 63%, 95%, 100%), hsla(218, 66%, 95%, 50%));
}

#root {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}

.dark-mode {
  --background-primary:     var(--Dark-Grey);
  --background-secondary:   var(--Very-Dark-Grey);
  --button-primary:         var(--Main-Purple);
  --button-primary-hover:   var(--Main-Purple-Hover);
  --button-secondary:       var(--White);
  --button-secondary-hover: var(--White);
  --button-destruct:        var(--Destructive);
  --button-destruct-hover:  var(--Destructive-Hover);
  --text-primary:           var(--White);
  --text-secondary:         var(--Medium-Grey);
  --text-terciary:          var(--White);
  --text-button-primary:    var(--White);
  --text-button-secondary:  var(--Main-Purple);
  --check-button:           var(--White);
  --check-background:       var(--Main-Purple);
  --Lines:                  var(--Lines-Dark);
  --hover-primary:          var(--Main-Purple-Hover);
  --hover-secondary:        var(--White);
  --gradient-1:             var(--linear-1);
  --opacity-gradient:       0.25;
}

.light-mode {
  --background-primary:     var(--White);
  --background-secondary:   var(--Light-Grey-Light-bg);
  --button-primary:         var(--Main-Purple);
  --button-primary-hover:   var(--Main-Purple-Hover);
  --button-secondary:       color-mix(in oklab, var(--Main-Purple) 10%, white);
  --button-secondary-hover: color-mix(in oklab, var(--Main-Purple) 25%, white);
  --button-destruct:        var(--Destructive);
  --button-destruct-hover:  var(--Destructive-Hover);
  --text-primary:           var(--Black);
  --text-secondary:         var(--Medium-Grey);
  --text-terciary:          var(--Medium-Grey);
  --text-button-primary:    var(--White);
  --text-button-secondary:  var(--Main-Purple);
  --check-button:           var(--White);
  --check-background:       var(--Main-Purple);
  --Lines:                  var(--Lines-Light);
  --hover-primary:          var(--Main-Purple-Hover);
  --hover-secondary:        color-mix( in oklab, var(--Main-Purple) 10%, white );
  --gradient-1:             var(--linear-2);
  --opacity-gradient:       1;
}

